.carousel {
            height: "200px"; 
            background-Repeat: no-repeat; 
            background-Size: "cover"; 
            display: flex;
            justify-Content: center; 
            align-items: center; 
            margin: 40px 0px;
            background-color: salmon;
}

.arrow {
    display: flex;
    justify-content: center;
}